<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <!-- Configuración de seguridad -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Área de Alumnos</web-resource-name>
            <url-pattern>/alumno/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>rolalu</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Área de Profesores</web-resource-name>
            <url-pattern>/profesor/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>rolpro</role-name>
        </auth-constraint>
    </security-constraint>

    <!-- Configuración de login -->
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/login.jsp?error=1</form-error-page>
        </form-login-config>
    </login-config>

    <!-- Definición de roles -->
    <security-role>
        <role-name>rolalu</role-name>
    </security-role>
    <security-role>
        <role-name>rolpro</role-name>
    </security-role>

    <!-- Configuración del archivo de logs -->
    <context-param>
        <param-name>log-file-path</param-name>
        <param-value>/WEB-INF/logs/nol_logs.txt</param-value>
    </context-param>

    <!-- Servlet de redirección -->
    <servlet>
        <servlet-name>RedirectServlet</servlet-name>
        <servlet-class>servlet.RedirectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RedirectServlet</servlet-name>
        <url-pattern>/redirect</url-pattern>
    </servlet-mapping>

    <!-- Página de inicio por defecto -->
    <welcome-file-list>
        <welcome-file>redirect</welcome-file>
    </welcome-file-list>

</web-app>